<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CardGameSet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>246271B0CF5BD023DDA32B99C084E7E3B2794E9E</string>
				<key>dateExpires</key>
				<string>10/17/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6WA6Y7KBQJ.Alexis-Chan.CardGameSet</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6WA6Y7KBQJ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>6WA6Y7KBQJ.Alexis-Chan.CardGameSet</string>
				</array>
			</dict>
			<key>name</key>
			<string>CardGameSet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c61b6f85-8d56-43fc-9d6c-211bafdf525f</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6WA6Y7KBQJ</string>
				<key>name</key>
				<string>THE WINDOW SPECIALISTS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
